@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/green.css";

.Alerticon,
.SuccessIcon {
  width: 1.2rem;
  height: 1.2rem;
}

#LoginContainer {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#LoginForm {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: left;
  justify-content: center;
  max-width: 30rem;
}

#LoginInfo,
#UserInfo {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#LoginButtonsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  & > * {
    flex: 1;
  }
}
