@import '@/styles/theme.css';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--background-color);
}

#ExecutivePage {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#ExecutivePage > h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
  color: var(--color-text-strong);
}
