#DetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#Details {
  max-width: 60rem;
  width: 100%;
}

#DetailsButtons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  & > * {
    flex: 1;
  }
}

#SigTitle {
  font-weight: bold;
  font-size: 2rem;
}

#SigOptions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 1rem;
}
