#PostFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#PostForm {
  max-width: 60rem;
  width: 100%;
}

#PostFormButtons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  & > * {
    flex: 1;
  }
}

.text-container {
  color: var(--Blue-Theme-Text-Sub, #828282);
  text-shadow: 1px 1px 1px rgba(117, 127, 138, 0.3),
    -1px -1px 1px rgba(255, 255, 255, 0.3);
  font-family: Noto Sans KR;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 2rem 10%;
}

.width-restrictor {
  margin: 0 auto;
  max-width: 600px;
}

.input-wrapper {
  width: 80%;
  border-bottom: 1px solid #0000002a;
  margin: 0 auto 6% auto;
}

.round-square-input {
  border-radius: 1.2rem;
  min-height: 3.7rem;
  line-height: 3.7rem;
  border: None;
  display: block;
  text-indent: 6% !important;
  text-align: center;
  width: 100%;
  margin: 0 auto 3% auto;
  text-align: left;
  text-indent: 13%;
  font-size: 1em;
  font-family: "Noto Sans KR";
  color: #626262;
  background: transparent;
  box-shadow: inset -5px -5px 10px #fffb, inset 5px 5px 10px #757f8a88;
}

.round-text-area {
  border-radius: 1.2rem;
  min-height: 24rem;
  line-height: 2rem;
  border: None;
  text-align: center;
  width: 80%;
  margin: 2% auto 8% auto;
  padding: 5%;
  text-align: left;
  padding: auto;
  font-size: 1em;
  font-family: "Noto Sans KR";
  color: #626262;
  background: transparent;
  box-shadow: inset -5px -5px 10px #fffb, inset 5px 5px 10px #757f8a88;
  resize: none;
  display: block;
  box-sizing: border-box; /* Ensure padding is included in the width/height calculation */
}

.primary-round-square-button {
  background-color: #fff;
  color: #8aaae5;
  border-radius: 1.2rem;
  min-height: 1.5rem;
  /* line-height: 3.7rem; */
  vertical-align: middle;
  border: none;
  text-align: center;
  width: 15%;
  /* margin: 2rem 0; */
  padding: 0.3rem 0;
  box-shadow: #757f8a80 5px 5px 10px;
  font-weight: 700;
  font-size: 1rem;
  transform: translate(500%, -50%);
}
