.sim-wrapper {
  position: relative;
  flex-shrink: 0;
  border-radius: 20px;
  margin: 0 7.7% 1.25rem 7.7%;
  background: var(
    --blue-theme-input-background-gradation,
    linear-gradient(180deg, #ebedf0 0%, #f2f4f6 100%)
  );
  box-shadow:
    10px 10px 20px 0px rgba(117, 127, 138, 0.5),
    -10px -10px 20px 0px rgba(255, 255, 255, 0.5);
}

.post-summary-title-wrapper {
  height: 25px;
  flex-shrink: 0;
  padding: 10px 24px 0 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--blue-theme-button-gray-text, #444);
  font-family: Noto Sans KR;
  font-size: 14px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
}

.post-summary-date-wrapper {
  padding: 3px 24px 10px 24px;
  color: var(--blue-theme-icon-main, #828282);
  font-family: Noto Sans KR;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.btn-wrapper {
  position: absolute;
  right: 2.5%;
  bottom: 50%;
  transform: translate(0, 50%);
  height: 3rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
}

.width-restrictor {
  margin: 0 auto;
  max-width: 600px;
}

.styled-link {
  color: black;
  text-decoration: none;
}
