.dangerous-area {
  border: 1px solid var(--color-button-alert-bg);
  background: transparent;
  padding: 1rem;
  border-radius: 1rem;
}

.warning-text {
  color: var(--color-button-alert-bg);
  font-weight: 600;
}
