:root {
  --color-primary: #bbbcbc; /* 기본 배경색 */
  --color-button-bg: #e0e0e0; /* 버튼 배경색 */
  --color-button-border: #999999; /* 버튼 테두리색 */
  --color-text-body: #2a2a2a; /* 본문 텍스트색 */
  --color-text-subtle: #6e6e6e; /* 부가 설명 텍스트색 */
  --color-surface-light: #cccccc; /* 표면 배경색 */
  --background-color: #b9c9d8; /* 메인 배경색 */
  --foreground-color: #777; /* 강조선, 장식용 선 등에 사용되는 색 */
  --footer-background: #1f1f1f; /* 어두운 회색 계열 */
  --footer-text-color: #f5f5f5;
  --footer-icon-bg: #3a3a3a;
  --footer-icon-hover: #555555;
  --primary-color: #d0d3d8;
  --primary-neon: #b0c4de;
  --dot-bg: #8ba1b6;
  --executive-card-bg: white;
  --executive-overlay-bg: rgba(0, 0, 0, 0.55);
  --executive-name-color: #111;
  --executive-role-color: #444;
  --executive-description-color: white;
  --executive-arrow-color: var(--foreground-color);
  --executive-arrow-bg: #e0e0e0;
  --executive-arrow-hover: #ccc;
  --executive-arrow-color: #333;
  --executive-card-shadow: rgba(0, 0, 0, 0.06);

  /*버튼 쪽 색상은 디자인하다가 필요해보시면 변경해주시고, 혹시 여러가지 디자인 필요하시면 추가해서 사용해주세요*/

  --main-bg-gradient: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(200, 220, 245, 0.4) 20%,
    rgba(185, 201, 216, 1) 60%,
    #b9c9d8 100% /* 외곽: 보랏빛 도는 회색 */
  ); /* 중심에 포커스하는 메인 배경 그라디언트 */

  --main-focus-gradient: radial-gradient(
    circle at center,
    rgba(240, 240, 255, 0.35),
    transparent 70%
  ); /* 중앙 강조용 투명 그라디언트 배경 */
}
