#DetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Details {
  max-width: 60rem;
  width: 100%;
}

#DetailsButtons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  & > * {
    flex: 1;
  }
}
