@import "normalize.css";
@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/slate.css";
@import "@/styles/theme.css";

@media (max-width: 480px) {
  :root {
    font-size: 0.8em;
  }
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  max-width: 100%;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

button {
  border: unset;
  cursor: pointer;

  &.unset {
    background: 0;
  }
}

:root {
  color: var(--slate-12);
}

*::selection {
  background-color: var(--black-a2);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#RootContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#MainContent {
  flex: 1;
}

.ThemeToggle {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 999900;
  background: var(--foreground-color);
  color: var(--background-color);
  border: none;
  border-radius: 999px;
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.ThemeToggle:hover {
  background: var(--color-text-subtle);
  color: var(--color-text-body);
  transform: scale(1.05);
}
