@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/black-alpha.css";

.HeaderUserIcon {
  width: 1.5rem;
  height: 1.5rem;
}

#Body {
  flex: 1; /* Use flex to fill the remaining space */
  width: 100%;
  height: 1px;
  min-height: calc(100vh - 1.5rem);
  padding-top: 2.5rem; /* Ensure the body content starts below the header */
}

#HeaderContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--slate-3);
  box-shadow: 0 0 0.5rem var(--black-a2);
  border-bottom: 1px solid var(--slate-8);
  z-index: 1000;
}

#Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  width: 100%;
  max-width: 60rem;
  height: 2.5rem;

  /* Note that #HeaderMenu is position: absolute, so it is not determined by the flex */
}

#HeaderLogo {
  color: var(--indigo-10);
  height: 1.5rem;
  width: 7.5rem;
  background: none;
}

#HeaderUser {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#HeaderUserName {
  margin-bottom: 0.1rem;
}

#HeaderMenu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  height: 100%;
  z-index: 1;
}

#HeaderMenuList {
  display: flex;
  justify-content: center;
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
}

.HeaderMenuItem {
  & > button {
    padding: 0 1rem;
    height: 100%;
    background: none;

    &:hover {
      color: var(--indigo-10);
      text-shadow: 0 0 0.1rem rgba(var(--indigo-10), 0.5);
      font-weight: 600;
    }
  }
}

.HeaderMenuContent {
  position: absolute;
  padding: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  animation-duration: 250ms;
  animation-timing-function: ease;
}
.HeaderMenuContent[data-motion="from-start"] {
  animation-name: enterFromLeft;
}
.HeaderMenuContent[data-motion="from-end"] {
  animation-name: enterFromRight;
}
.HeaderMenuContent[data-motion="to-start"] {
  animation-name: exitToLeft;
}
.HeaderMenuContent[data-motion="to-end"] {
  animation-name: exitToRight;
}

#HeaderMenuViewportContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 40rem;
  top: 100%;
  perspective: 2000px;
}

#HeaderMenuViewport {
  position: relative;
  transform-origin: top center;
  margin-top: 0.5rem;
  width: 100%;
  height: 15rem;
  overflow: hidden;
  transition: width, height, 300ms ease;
}
#HeaderMenuViewport[data-state="open"] {
  animation: scaleIn 200ms ease;
}
#HeaderMenuViewport[data-state="closed"] {
  animation: scaleOut 200ms ease;
}

@keyframes enterFromRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enterFromLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exitToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(200px);
  }
}

@keyframes exitToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-200px);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: rotateX(-30deg) scale(0.9);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
  to {
    opacity: 0;
    transform: rotateX(-10deg) scale(0.95);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
