@import "@radix-ui/colors/indigo.css";

.C_ButtonRoot {
  background-color: var(--indigo-10);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: var(--indigo-9);
  }

  &:active {
    background-color: var(--indigo-11);
  }
}
