@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/blue.css";

.C_Card {
  background-color: var(--slate-1);
  border: 1px solid var(--slate-7);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  padding: 1rem;

  transition: box-shadow border 0.3s cubic-bezier(0, 0.7, 0.3, 1);
}

.C_Card.hover {
  &:hover {
    box-shadow: 0 0 0.5rem #0090ffaa;
    border: 1px solid var(--blue-7);
  }
}
