.ThemeToggle {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 999900;
  background: var(--foreground-color);
  color: var(--background-color);
  border: none;
  border-radius: 999px;
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.ThemeToggle:hover {
  background: var(--color-text-subtle);
  color: var(--color-text-body);
  transform: scale(1.05);
}
