.main-text-wrapper {
  position: relative;
  flex-shrink: 0;
  border-radius: 20px;
  margin: 0 7.7% 1.25rem 7.7%;
  padding: 18px 5%;
  background: var(
    --blue-theme-input-background-gradation,
    linear-gradient(180deg, #ebedf0 0%, #f2f4f6 100%)
  );

  white-space: pre-line;
}
