.editorInputGroup {
  display: flex;
  flex-direction: column;
}

.editorInputLabel {
  font-size: 0.8rem;
  user-select: none;
  margin-left: 0.25rem;
  margin-bottom: 1rem;
}

.editorInput {
  box-shadow: 0 0 10px 3px color-mix(in srgb, var(--header-foreground-color) 20%, transparent);
}
