.inputPage {
  height: 100%;
  min-height: 10rem;
  padding: 2rem 4rem;
  display: none;
  flex-direction: column;
  justify-content: center;
}

.inputPage[data-active='true'] {
  display: flex;
}

.pageTransitionGroup {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}

.invisible {
  visibility: hidden;
}

@media (max-width: 768px) {
  .inputPage {
    padding: 2rem 0rem;
  }
}
