.inputSection {
  display: none;
  flex-direction: column;
  justify-content: center;
}

.inputSection[data-active='true'] {
  display: flex;
}

.buttonContainer {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.invisible {
  visibility: hidden;
}

.submitBtn {
  background-color: var(--color-button-bg);
}
