.inputPage {
  display: none;
  flex-direction: column;
  justify-content: center;
}

.inputPage[data-active='true'] {
  display: flex;
}

.pageTransitionGroup {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.invisible {
  visibility: hidden;
}

.submitBtn {
  background-color: var(--color-button-bg);
}
