name: 'CLA Assistant'

on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, closed, synchronize]

permissions:
  actions: write
  contents: write
  pull-requests: write
  statuses: write

jobs:
  CLAAssistant:
    runs-on: ubuntu-latest
    steps:
      - name: 'CLA Assistant'
        id: cla_assistant
        if: (github.event.comment.body == 'recheck'
          || github.event.comment.body == 'I have read the CLA document, and I am signing the CLA.')
          || github.event_name == 'pull_request_target'
        uses: contributor-assistant/github-action@v2.6.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          custom-notsigned-prcomment: |
            We appreciate your pull request.
            Prior to acceptance, you must agree to the Contributor License Agreement (CLA).
            You may indicate your consent by posting a comment that exactly matches the statement below.
          custom-pr-sign-comment: 'I have read the CLA document, and I am signing the CLA.'
          custom-allsigned-prcomment: '**CLA Assistant Lite** All Contributors have signed the CLA document.'
          path-to-signatures: '.github/signatures/cla.json'
          path-to-document: 'https://github.com/scsc-init/homepage_init_frontend/blob/main/.github/CLA.md'
          branch: 'chore/cla'
          allowlist: bot*
